extends layout

block content

	div.container
		div#box.well
			div.container Drop a file here

		p.lead#msg
		a#link(href="", target="_blank")
		script(type='text/javascript', src='/javascripts/script.js')   


