doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')   
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	script(src="http://cdn.peerjs.com/0.3/peer.min.js")
	script(src="https://code.jquery.com/jquery-1.11.1.js")
    
	body
		nav.navbar.navbar-inverse
			div.container-fluid
				div.navbar-header
				a.navbar-brand(href="/") Drop-n-share

	block content


    
